#main {
  transition: 1s ease;
  text-align: center;
  height: 1000px;
  width: 100%;
  background-color: #F5F0FF;
  /*filter: blur(50px);*/
  z-index: 1;
  position: absolute;
}

section {
	width: 80%;
	height: 700px;
	background-color: rgba(239, 95, 167, .7);
	border-radius: 50px;
	margin: auto;
	position: relative;
	top: 100px;
	text-align: center;
	/*z-index: 5;*/
	/*filter: blur(50px);*/
}

section * {
	color: white;
}

h1 {
	position: relative;
	top: 100px;
}

.button-box {
	position: relative;
	top: 150px;
	height: 100px;
	width: 90%;
	margin: auto;
	margin-bottom: 150px;
	text-align: center;
}

.button-box button {
	margin: 10px 30px;
	height: 50px;
	background-color: rgba(245, 240, 255, .8);
	border-radius: 10px;
	border: 2px solid #fff;
	font-weight: 600;
	color: #c2a4ff;
	cursor: pointer;
}















