

body > div {
    height:1000px;
    width:100%;
    text-align:center;
    position:relative;
}

.blur {
    background: #F5F0FF; 
    background-size:cover;
    -webkit-filter: blur(50px);
    -moz-filter: blur(50px);
    -o-filter: blur(50px);
    -ms-filter: blur(50px);
    filter: blur(50px);
    position:absolute;
    width:100%;
    height:100%;
    color: black;

}

.blur-box {
	height: 100%;
	width: 100%;
	background-color: #e4d7ff;
	transition: .4s ease;
}

section {
    color: white;
    font-size:50px;
    font-weight:bold;
    width: 80%;
    height: 1000px;
    z-index:9999;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
    margin: auto;
    margin-top: 100px;
    background-color: rgba(239, 95, 167, .9);
    padding-top: 10%;
    opacity: .9;
    border: 6px solid black;
    border-radius: 50px;
}

 button {
	border-radius: 50px;
	padding: 10px;
	margin: 20px 30px;
	cursor: pointer;
	background-color: rgba(239,95,167, .5);
	color: #fff;
	border: 3px solid #fff;
	transition: all .7s ease-in-out;
}

button:hover {
	opacity: 1;
}

img {
	margin: 20px 0px;
}












